/* FONT FOR ALL PAGE */

* {
    font-family: "Montserrat", sans-serif;
}

a:hover {
    text-decoration: none;
}

/* HEADER */

header {
    position: sticky;
    z-index: 9999;
}

header h2 {
    margin: 17px 0;
    color: #0069FF;
    font-weight: 600;
    font-size: 22px;
}

nav {
    padding-top: 17px;
}

nav a {
    color: #293E69;
    font-weight: 600;
    font-size: 14px;
}

nav a:hover {
    color: #0F72FF;
}

nav li {
    padding: 0 10px;
}

.signup {
    margin-top: 10px;
    background-color: white;
    color: #0069FF;
    border: 1px solid #0069ff;
    border-radius: 8px;
    padding: 11px 16px 8px;
    font-size: 13px;
}

/* BANNER */

.banner {
    background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    padding-top: 63px;
    padding-bottom: 63px;
}

.banner h1 {
    font-size: 62px;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 75px;
    color: white;
}

.banner p {
    font-size: 24px;
    color: white;
    margin: 16px 0 32px;
}

/* FORM */

form {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}

form h2 {
    color: #031B4E;
    font-weight: 700;
    margin-bottom: 25px;
}

form button:first-of-type {
    color: white;
    background-color: #0069FF;
}

label {
    display: none;
}

.form-control {
    height: 50px;
}

.ms--ToS {
    margin-top: 30px;
}

.ms--ToS p {
    margin-bottom: 0;
    color: black;
    font-size: 12px;
}

/* ICONS */

.heightlogo {
    height: 100px;
}

.proofofwork {
    background-color: #F3F5F9;
    padding-top: 50px;
    padding-bottom: 75px;
}

.proofofwork img {
    position: relative;
    transform: translateY(-50%);
    width: 120px;
    top: 50%;
}

.alignment {
    display: inline;
    vertical-align: bottom;
}

.proofofwork p {
    color: #939EB4;
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: 600;
}

.proofofwork a {
    color: #0069FF;
    font-size: 16px;
    font-weight: 600;
}

/* SERVICES */

.services {
    padding-bottom: 100px;
}

.topservices {
    padding: 90px 0 70px;
}

.topservices h2 {
    color: #031B4E;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

.topservices p {
    color: rgba(3, 27, 78, 0.7);
    font-size: 20px;
    margin: 16px 0px 64px;
}

.leftmenu li {
    padding: 16px 0 16px 30px;
    border-left: 1px solid gray;
}

.leftmenu li:hover {
    border-color: #0069ff;
}

.leftmenu a {
    color: rgba(3,27,78,.5);
    font-size: 16px;
    font-weight: 600;
}

.leftmenu a:hover {
    color: #0069ff;
    text-decoration: none;
}

.bottomservices h3 {
    font-weight: 600;
    color: #031B4E;
    font-size: 20px;
}

.bottomservices p {
    color: rgba(3, 27, 78, 0.7);
    font-size: 17px;
}

/* DEVELOPERS */

.developers {
    background-color: #F3F5F9;
    padding: 100px 0;
}

.developers h2 {
    color: #031B4E;
    font-size: 36px;
    font-weight: 700;
}

.developers h3 {
    padding-bottom: 50px;
    color: rgba(3, 27, 78, 0.7);
    font-size: 24px;
}

.developers p {
    padding-top: 30px;
    padding-bottom: 10px;
    color: rgba(3, 27, 78, 0.7);
    font-size: 16px;
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 40px;
    position: relative;
    top: 250px;
}

.fa-chevron-left {
    color: #a9b2c4;
}

.fa-chevron-right {
    color: #031b4e;
}

.fa-chevron-right:hover {
    color: #0248ff;
}

/* BUILTFORBUSINESS */

.builtforbusiness {
    padding: 100px 0;
}

.builtforbusiness h2 {
    color: #031B4E;
    font-size: 36px;
    margin-bottom: 48px;
    font-weight: 700;
}

.builtforbusiness h4 {
    color: #031B4E;
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 700;
}

.builtforbusiness p {
    color: rgba(3, 27, 78, 0.7);
    font-size: 16px;
    margin: 16px 0;
    line-height: 25px;
}

.builtforbusiness a {
    color: #0069FF;
    font-size: 16px;
    font-weight: 600;
}

/* CUSTOMERS */

.customers {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg");
    background-size: cover;
    background-color: #031b4e;
    padding-bottom: 50px;
}

.customers h2 {
    color: white;
    padding-top: 50px;
    font-size: 36px;
    font-weight: 600;
}

.line {
    border-bottom: 1px solid #354971;
    padding-top: 10px;
    padding-right: 1px;
    margin: 0 3px;
}

.noline {
    border-bottom: none;
    padding-bottom: 30px;
}

.fourlettername {
    font-size: 13px;
    color: white;
    font-weight: 600;
}

.city {
    font-size: 13px;
    color: #9aa3b8;
}

.customers a {
    font-size: 11px;
    color: #00d7d2;
}

.customers a:hover {
    color: #0248ff;
}

/* DEVELOPMENT */

.development {
    background-color: #F3F5F9;
    padding: 100px 0;
}

.development h2 {
    color: #031B4E;
    font-size: 36px;
    font-weight: 700;
}

.development h3 {
    padding-bottom: 50px;
    color: rgba(3, 27, 78, 0.7);
    font-size: 24px;
}

/* START */

.getstarted {
    background-image: url("https://images.prismic.io/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg?auto=compress,format");
    background-size: cover;
}

.getstarted h2 {
    padding-top: 50px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.getstarted button {
    font-size: 18px;
    font-weight: 700;
    color: #0069ff;
    padding: 15px 25px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.getstarted button:hover {
    opacity: 0.6;
}

/* FOOTER */

footer {
    background-color: rgb(1,14,40);
}

.footercontent {
    padding: 80px 0;
}

footer h4 {
    font-size: 14px;
    color: white;
}

.footercontent li {
    padding: 3px 0;
}

footer a,
footer p {
    font-size: 14px;
    color: rgb(128,135,145);
    font-weight: 600;
}

footer a:hover {
    color: white;
}

.ft-columns {
    min-height: 382px;
}

.ft-btm {
    padding-top: 10px;
    padding-bottom: 40px;
    border-top: 1px solid #343e53;
}

footer p {
    display: inline;
}

footer svg {
    position: relative;
    top: 20px;
    margin-right: 10px;
}

footer i {
    font-size: 25px;
    padding-top: 30px;
    padding-left: 5px;
}
