/* FONT FOR ALL PAGE */

* {
    font-family: "Montserrat", sans-serif;
}

a:hover {
    text-decoration: none;
}

/* HEADER */

header {
    position: sticky;
    z-index: 9999;
}

header h2 {
    margin: 17px 0;
    color: #0069FF;
    font-weight: 600;
    font-size: 22px;
}

nav {
    padding-top: 17px;
}

nav a {
    color: #293E69;
    font-weight: 600;
    font-size: 14px;
}

nav a:hover {
    color: #0F72FF;
}

nav li {
    padding: 0 10px;
}

.signup {
    margin-top: 10px;
    background-color: white;
    color: #0069FF;
    border: 1px solid #0069ff;
    border-radius: 8px;
    padding: 11px 16px 8px;
    font-size: 13px;
}

/* BANNER */

.banner {
    background-color: #0049FF;
    padding-top: 63px;
    padding-bottom: 63px;
}

.banner h1 {
    font-size: 62px;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 75px;
    color: white;
}

.banner p {
    font-size: 24px;
    color: white;
    margin: 16px 0 32px;
}

/* FORM */

form {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}

form h2 {
    color: #031B4E;
    font-weight: 700;
    margin-bottom: 25px;
}

form button:first-of-type {
    color: white;
    background-color: #0069FF;
}

label {
    display: none;
}

.form-control {
    height: 50px;
}

.ms--ToS {
    margin-top: 30px;
}

.ms--ToS p {
    margin-bottom: 0;
    color: black;
    font-size: 12px;
}

/* ICONS */

.heightlogo {
    height: 100px;
}

.proofofwork {
    background-color: #F3F5F9;
    padding-top: 50px;
    padding-bottom: 75px;
}

.proofofwork img {
    position: relative;
    transform: translateY(-50%);
    width: 120px;
    top: 50%;
}

.alignment {
    display: inline;
    vertical-align: bottom;
}

.proofofwork p {
    color: #939EB4;
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: 600;
}

.proofofwork a {
    color: #0069FF;
    font-size: 16px;
    font-weight: 600;
}
